[tools]
"aqua:hashicorp/terraform" = "latest"
"aqua:astral-sh/uv" = "latest"
{{- if ne .chezmoi.os "darwin" -}}
"aqua:eza-community/eza" = "latest"
{{ else }}
eza = "latest"
{{- end }}
"aqua:neovim/neovim" = "latest"
go = "1.24.2"
python = "3.13"
node = "lts"
usage = "latest"

[settings]
experimental = true
