#!/usr/bin/env bash

# -e - exit immediately if a command exits with a non-zero status
# -u - treat unset variables as an error when substituting
# -o pipefail - return the exit status of the last command in the pipeline that failed
set -euo pipefail

# config.toml hash: {{ include "dot_config/mise/config.toml.tmpl" | sha256sum }}
~/.local/bin/mise upgrade
